body {
    background-color: #EFECCA;
    font-family: Helvetica, Arial;
}

h1 {
    color: #C03000;
}

h2 {
    color: #4BB5C1;
}

#navig li  {
    display: inline;
}

#navig li a{
    padding: 5px 20px ;
    background: #CC0000 ;
    color: #FFFFFF ;
    border: 1px solid #660000 ;
    text-align: center ;
    text-decoration: none ;
}




#navig li a:hover, #navig li a:focus, #navig li a:active {
    background: #009900;
  }

footer a {
    color: #0000FF;
    font-weight: bold;
  }

