body {
    background-color: #000099;
    font-family: 'Helvetica', 'Arial';
    width: 800px;
    margin: auto;
    
}

h1 {
    color: white;
}

.centrage, li,ul, form {
    text-align: center ;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style:none;
    margin-left:0;
}

input {
    border-radius: 3px;
    padding: 10px;
}

.button {
    border-radius: 8px;

}